<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-screen-scraping" version="0.1.25"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Screen Scraping Plugin</name>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

	<asset src="www/screenScraping.js" target="js/screenScraping.js"/>

	<js-module src="www/screenScraping.js" name="screenScraping">
		<clobbers target="screenScraping" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ScreenScrapingPlugin">
				<param name="android-package" value="com.carbon.pagescraping"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.INTERNET" />
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
		<source-file src="src/android/google-services.json" target-dir="." />

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<!-- <framework src="com.google.gms:google-services:+" /> -->
	</platform>

	<!-- <hook src="scripts/after_prepare.js" type="after_prepare" /> -->
</plugin>